h4 Hi #{firstName},
p Welcome to Traquer, the File tracking system. 
p You are one step away from your account activation. Kindly proceed to the app with your activation key #{activationKey} to activate your account.
p Please note that the key is valid for 24 hours.

p Enjoy and have fun.

b Best regards,
p Traquer team